{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace less=Stach\CsLess\ViewHelpers}

<f:layout name="DefaultPage" />

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Configuration">
		<flux:flexform id="christoph-stach-front-page" label="Front Page">
			<flux:flexform.grid>
				<flux:flexform.grid.row>
					<flux:flexform.grid.column colPos="0" name="Inhalt" />
				</flux:flexform.grid.row>
			</flux:flexform.grid>
		</flux:flexform>
	</f:section>

	<f:section name="Resources">
		<f:render partial="Bootstrap" section="Header" />
		
		<less:style href="typo3conf/ext/christoph_stach_page/Resources/Public/Styles/FrontPage.less" />
	</f:section>

	<f:section name="Content">
		<f:render partial="Navigation" section="Top" />


		<div class="jumbotron">
			<header class="container">
				<div class="row">
					<div class="col-md-3 text-center">
						<f:image class="img-circle" src="EXT:christoph_stach_page/Resources/Public/Images/brand-logo-2.png" height="156" alt="Christoph Stach" />
					</div>
					<div class="col-md-9">
						<h1>
							Christoph Stach<br />
							<small>TYPO3-, PHP-, ExtJS-Entwickler</small>
						</h1>
					</div>
				</div>
			</header>
		</div>

		<div class="container">
			<!--TYPO3SEARCH_begin-->
			<v:page.content.render column="0" />
			<!--TYPO3SEARCH_end-->
		</div>
		
		<f:render partial="Navigation" section="Bottom" />
	</f:section>
</div>