{namespace v=Tx_Vhs_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Header">
		<v:asset.script path="typo3conf/ext/christoph_stach_page/Resources/Public/Scripts/jquery-1.10.2.min.js" />
		<v:asset.script path="typo3conf/ext/christoph_stach_page/Resources/Public/Bootstrap/dist/js/bootstrap.min.js" />

		<v:asset.style path="typo3conf/ext/christoph_stach_page/Resources/Public/Bootstrap/dist/css/bootstrap.min.css" />
		<v:asset.style path="typo3conf/ext/christoph_stach_page/Resources/Public/Bootstrap/dist/css/bootstrap-theme.min.css" />
		<v:asset.style path="typo3conf/ext/christoph_stach_page/Resources/Public/FontAwesome/css/font-awesome.min.css" />
	</f:section>
</div>