{namespace v=Tx_Vhs_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Top">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Navigation ausklappen</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Christoph Stach</a>
				</div>

				<nav class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<v:page.menu.directory pages="1">
							<f:for each="{menu}" as="item" iteration="iteration">
								<f:if condition="{item.current} == {FALSE}">
									<f:then>
										<li><a href="{item.link}">{item.title}</a></li>
									</f:then>
									<f:else>
										<li class="active"><a href="{item.link}">{item.title}</a></li>
									</f:else>
								</f:if>
							</f:for>
						</v:page.menu.directory>
					</ul>
				</nav>
			</div>
		</div>
	</f:section>

	<f:section name="Bottom">
		<footer class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container">
				<ul class="nav navbar-nav pull-left">
					<li>
						<a href="http://www.christoph-stach.de/">&copy; Christoph Stach</a>	
					</li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li class="pull-left">
						<a href="https://bitbucket.org/cstach/" title="BitBukket" target="_blank">
							<span class="fa fa-bitbucket"></span>
						</a>
					</li>
					<li class="pull-left">
						<a href="https://www.xing.com/profile/Christoph_Stach" title="Xing" target="_blank">
							<span class="fa fa-xing"></span>
						</a>
					</li>
				</ul>
			</div>
		</footer>
	</f:section>
</div>